<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="style.css" />
  
  <script type="text/javascript" src="angular.js"></script>
  <script type="text/javascript" src="renderjson.js"></script>
  <script src="script.js"></script>
  
</head>

<body ng-app="app">
  <div ng-controller="MainController">
    <h1>{{ message }}</h1>
	
	<div>
		<form name="authenticateUser" ng-submit="authenticate()">
			<input type="text" required placeholder="User Code" ng-model="authInfo.code" />
			<input type="text" required placeholder="User Name" ng-model="authInfo.user" />
			<input type="text" required placeholder="Password" ng-model="authInfo.pass" />
			<input type="submit" value="Authenticate" />
		</form>
	
		<div>Contract code: {{ authInfo.code }}</div>
		<div>User name: {{ authInfo.user }}</div>
		<div>Password: {{ authInfo.pass }}</div>
		
		
		
		<div>Auth message: {{ authMessage }} </div>
		<div>Current Token: {{ token}}</div>
		
						
		<div raw-json="rawAuthResponse" id="authResponseId" expanded="false"></div>
		<hr />
		
		<div>Request url:</div>
		<div><input type="text" placeholder="api method" ng-model="apiMethodUrl" /></div>
		
		<div>Request body:</div>
		<div> 
			<textarea placeholder="Request json code here" rows="4" cols="50" ng-model="apiRequest"></textarea>
		</div>
		<button type="button" ng-click="executeRequest()">Execute</button>
		
		<div>Request:</div>
		<div raw-json="rawApiRequest" id="apiRequestId" expanded="false"></div>
		
		<div>Response:</div>		
		<div raw-json="rawApiResponse" id="apiResponseId" expanded="true"></div>
		
	</div>
	
  </div>
</body>


</html>
